[Unit]
Description=Frankn Host Service
Documentation=https://github.com/scott-astatine/Frankn
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/frankn-host
Environment=RUST_LOG=info
Environment=RUST_BACKTRACE=1
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
